@import './includes/mixins';

#about {
    .wrapper {
        @include flex;
        @include align-items(center);
        @include justify-content(center);
        flex-wrap: wrap;
    }
    .left {
        width: 450px;
        img {
            overflow: hidden;
            width: 100%;
            height: 100%;
        }
    }
    .right {
        width: calc(100% - 450px);
        padding: 30px 50px;
        p:last-of-type {
            margin: 0;
        }
        .social-media {
            margin-top: 20px;
            justify-content: flex-start;
        }
    }
    @media (max-width: 991px) {
        .left, .right {
            width: 100%;
        }
        .wrapper {
            flex-wrap: wrap;
        }
        .right {
            text-align: center;
            padding: 30px 0 0;
            .social-media {
                justify-content: center;
            }
        }
    }
}