@import './includes/mixins';

#business-card {
    @include flex;
    @include align-items(center);
    flex-direction: column;
    .biz-card-canvas {
        display: inline-block;
        width: 364.8px;
        padding: 14.4px;
        height: 220.8px;
        background: black;
        margin-bottom: 10px;
    }
    .biz-card-canvas-inner {
        background: #fff;
        border-radius: 5px;
        background-color: white;
        height: 100%;
        @include flex;
        flex-direction: column;
        font-size: 12px;
        position: relative;
        overflow: hidden;
        &.back {
            @include align-items(center);
            @include justify-content(center);
        }
        &:before, &:after {
            content: '';
            background: $second-color;
            height: 20px;
            width: 100%;
            position: absolute;
            left: 0;
        }
        &:before {
            top: 0;
        }
        &:after {
            bottom: 0;
            background: $fourth-color;
        }
        &.design-2 {
            .logo-name {
                color: #fff;
                span {
                    color: #fff;
                }
            }
            .card-bar {
                background: #fff;
            }
            .card-tagline {
                color: #fff;
                span {
                    color: #fff;
                }
            }
            &:before, &:after {
                display: none;
            }
            &.front {
                // @include flex;
                // @include align-items(center);
                flex-wrap: wrap;
                .logo-name {
                    font-size: 16px;
                }
                .card-tagline {
                    font-size: 6px;
                }
                .card-social li {
                    margin-bottom: 3px;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
                .left, .right {
                    width: 50%;
                    height: 100%;
                    @include flex;
                    @include align-items(center);
                    @include justify-content(center);
                    .card-details {
                        text-align: left;
                    }
                }
                .left {
                    flex-direction: column;
                    background: $fourth-color;
                }
                .right {
                    padding: 20px;
                    @include justify-content(flex-start);
                }
            }
            &.back {
                background: $fourth-color;
            }
        }
    }
    .logo-name {
        color: $second-color;
    }
    .card-bar {
        width: 50px;
        height: 1.5px;
        background: $third-color;
        margin: 0 0 2px;
    }
    .card-tagline {
        color: $fourth-color;
        span {
            color: $second-color;
        }
    }
    .front-canvas {
        height: 100%;
        padding: 30px 20px;
        @include flex;
        @include justify-content(space-between);
        flex-direction: column;
        .logo-name {
            font-size: 16px;
            letter-spacing: 1px;
        }
        .card-tagline {
            font-size: 9px;
        }
    }
    .card-details {
        text-align: right;
        h4 {
            font-size: 11px;
            font-weight: 700;
            margin: 0;
        }
        h5 {
            font-size: 9px;
            margin: 0
        }
    }
    .card-social {
        padding: 0;
        margin: 10px 0 0;
        list-style: none;
        font-size: 7px;
        .fa {
            min-width: 10px;
        }
    }
}