@import './includes/mixins';

#case-studies {
    .wrapper {
        @include flex;
        @include align-items(center);
        flex-wrap: wrap;
        .left, .right {
            width: 50%;
        }
        .left {
            padding: 0 70px;
            p {
                margin: 0;
            }
        }
        .right {
            img {
                width: 100%;
            }
        }
    }
    @media (max-width: 991px) {
        .wrapper {
            .left {
                text-align: center;
                margin-bottom: 20px;
            }
            .left, .right {
                padding: 0 30px;
                width: 100%;
            }
        }
    }
    @media (max-width: 767px) {
        .wrapper {
            .left, .right {
                padding: 0 15px;
            }
        }
    }
}