@import './includes/mixins';

#cta {
    // background: $third-color;
    background: #000;
    text-align: center;
    position: relative;
    .container {
        position: relative;
        z-index: 100;
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        background: url('../../../../assets/images/cta-bg.jpg');
        background-size: cover;
    }
}