@import './includes/mixins';

#main-banner {
    background: $second-color;
    padding: 100px 0;
    h1 {
        margin: 0;
        color: #fff;
        font-weight: 700;
        letter-spacing: 2px;
        font-size: 70px;
    }
    p {
        color: #fff;
        margin: 0;
        font-size: 20px;
    }
    @media (max-width: 991px) {
        text-align: center;
        h1 {
            font-size: 50px;
        }
    }
    @media (max-width: 767px) {
        text-align: center;
        padding: 70px 0;
        h1 {
            font-size: 30px;
        }
        p {
            font-size: 16px;
        }
    }
}