@import './includes/mixins';

#services {
    background: $third-color;
    .services-wrapper {
        @include flex;
        .service {
            width: 33.33333%;
            padding-right: 30px;
            .fa {
                color: $fourth-color;
                font-size: 30px;
                color: #fff;
                margin: 0 0 15px;
            }
            h4 {
                color: #fff;
                font-weight: 700;
                margin: 0 0 10px;
            }
            p {
                margin: 0;
                color: #fff;
            }
        }
    }
    @media (max-width: 991px) {
        .services-wrapper {
            flex-wrap: wrap;
            .service {
                width: 50%;
                margin-bottom: 25px;
                padding-right: 0;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
    @media (max-width: 767px) {
        .services-wrapper .service {
            width: 100%;
            text-align: center;
            h4 {
                font-size: 20px;
            }
        }
    }
}