@import './mixins';

body {
    font-family: $font-family;
}

a:hover {
    text-decoration: none;
}

.section-padding {
    padding: 100px 0;
    @media (max-width: 767px) {
        padding: 30px 0;
    }
}

p {
    color: $fourth-color;
}

.main-btn {
    display: inline-block;
    padding: 7px 30px;
    background: $second-color;
    border-radius: 5px;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 18px;
    color: #fff;
    @include transition;
    &:hover {
        opacity: 0.8;
        color: #fff;
    }
}

.section-title {
    font-size: 40px;
    color: $fourth-color;
    margin: 0 0 30px;
    font-weight: 700;
    letter-spacing: 1px;
    &.white {
        color: #fff;
    }
    &.center {
        text-align: center;
    }
    &.bigger {
        font-size: 50px;
    }
    @media (max-width: 991px) {
        font-size: 30px;
        &.bigger {
            font-size: 40px;
        }
    }
    @media (max-width: 767px) {
        text-align: center;
        font-size: 26px;
        &.bigger {
            font-size: 30px;
        }
    }
}

.logo-name {
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: 700;
    @include transition;
    span {
        color: $fourth-color;
    }
    &.alt {
        color: $third-color;
    }
    &:hover {
        opacity: 0.8;
        color: #fff;
        &.alt {
            color: $third-color;
        }
    }
}

.social-media {
    margin: 0;
    padding: 0;
    list-style: none;
    @include flex;
    @include justify-content(center);
    li a {
        display: inline-block;
        width: 35px;
        height: 35px;
        color: #fff;
        margin: 0 5px;
        border-radius: 100%;
        background: $second-color;
        @include transition;
        @include flex;
        @include align-items(center);
        @include justify-content(center);
        &:hover {
            background: $fourth-color;
        }
    }
}


.line {
    margin: 15px 0;
    text-align: center;
    @include flex;
    @include align-items(center);
    @include justify-content(center);
    span {
        display: inline-block;
        width: 50px;
        height: 3px;
        background: $second-color;
    }
    &.white {
        span {
            background: #fff;
        }
    }
    &.wider {
        margin: 30px 0;
    }
    &.left {
        @include justify-content(flex-start);
    }
    @media (max-width: 991px) {
        &.left {
            @include justify-content(center);
        }
    }
}