@import './includes/mixins';

#footer {
    padding: 50px 0;
    text-align: center;
    border-top: 1px solid #d6d6d6;
    h4 {
        margin: 0;
    }
    .email {
        display: inline-block;
        color: $fourth-color;
        @include transition;
        &:hover {
            opacity: 0.8;
        }
    }
    .social-media {
        margin: 20px 0 0;
    }
}