@import './includes/mixins';

#header {
    background: $second-color;
    padding: 20px 0;
    .wrapper {
        @include flex;
        @include align-items(center);
        @include justify-content(space-between);
    }
    .main-nav {
        list-style: none;
        padding: 0;
        margin: 0;
        @include flex;
        li a {
            color: #fff;
            margin-left: 30px;
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 1px;
            display: inline-block;
            text-transform: uppercase;
            @include transition;
            &:hover {
                color: $fourth-color;
                text-decoration: none;
            }
        }
    }
    .mobile-menu-btn {
        display: none;
        color: $fourth-color;
        font-size: 24px;
    }
    @media (max-width: 991px) {
        .main-nav {
            display: none;
        }
        .mobile-menu-btn {
            display: block;
        }
    }
}

.mobile-menu-box {
    transform: translateY(-300px);
    visibility: hidden;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // position: relative;
    background: $second-color;
    @include transition;
    .mobile-menu-close {
        color: #fff;
        font-size: 20px;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .mobile-menu-nav {
        margin: 0;
        padding: 0;
        list-style: none;
        padding: 30px;
        height: 100%;
        @include flex;
        flex-direction: column;
        @include align-items(center);
        @include justify-content(flex-start);
        li a {
            color: #fff;
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 20px;
            display: inline-block;
        }
    }
    &.show-this {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}