@import './includes/variables';

@mixin transition {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@mixin flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin justify-content($val) {
    -webkit-box-pack: $val;
    -ms-flex-pack: $val;
    -ms-justify-content: $val;
    -webkit-justify-content: $val;
    justify-content: $val;
}

@mixin align-items($val) {
    -webkit-align-items: $val;
    align-items: $val;
}